<div class="hero container-fluid">
  <div class="hero-text col-5">
    <p>We offer 14 rental studios and one private room to any stylist who is looking for the flexibility and creative freedom that comes with being your own boss. If you want to choose your own hours, prices, and clientele, please send an email to example.email@email.com.</p>
    <p>Can't wait to meet you!</p>
  </div>
</div>