<div class="frosty col-10 offset-1">
  <p>We offer 14 rental studios and one private room to any stylist who is looking for the flexibility and creative freedom that comes with being your own boss. If you want to choose your own hours, prices, and clientele, please get in touch.</p>
  <p>Can't wait to meet you!</p>
</div>

<div class="info">
  <div class="left col-12 col-sm">
    <h4>Location</h4>
    <p class="x">314 Junction Rd, Madison, WI 53717</p>
  </div>
  <div class="middle col-12 col-sm">
    <h4>Phone Number</h4>
    <p class="x">608 - 664 - 9669</p>
  </div>
  <div class="right col-12 col-sm">
    <h4>Email</h4>
    <p class="x">example.email@email.com</p>
  </div>
</div>