@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gupter&display=swap');

body {
  background-image: url("salon_tools.jpg") no-repeat center center fixed;
  background-color: white;
  background-size: cover;
}

.navbar {
  padding: 20px 5px;
  background: -webkit-linear-gradient(90deg, rgb(245, 242, 255), rgb(200, 209, 219));
  background: linear-gradient(90deg, rgb(245, 242, 255), rgb(200, 209, 219));
  box-shadow: 1px 2px 2px gray;
}

.navbar-brand {
  font-size: 4em;
  font-family: 'Dancing Script', cursive;
}

.frosty {
  color: black;
  position: fixed;
  top: 30%;
  padding: 30px 20px 20px;
  font-family: 'Gupter', serif;
  font-size: 1.5em;
  text-align: center;
}

.info {
  font-family: 'Gupter', serif;
  position: fixed;
  bottom: 0;
  height: 25%;
  width: 100%;
  box-shadow: 0px -2px 3px gray;
  text-align: center;
  background: -webkit-linear-gradient(90deg, rgb(245, 242, 255), rgb(200, 209, 219));
  background: linear-gradient(90deg, rgb(245, 242, 255), rgb(200, 209, 219));
}