@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gupter&display=swap');

body {
background: -webkit-linear-gradient(90deg, rgb(61, 81, 98), rgb(21, 39, 57));
background: linear-gradient(90deg, rgb(61, 81, 98), rgb(21, 39, 57));
}

.navbar {
  padding: 20px 5px;
  box-shadow: 1px 2px 2px gray;
}

.navbar-brand {
  font-size: 4em;
  font-family: 'Dancing Script', cursive;
}

.frosty {
  color: white;
  position: fixed;
  top: 30%;
  padding: 30px 20px 20px;
  font-family: 'Gupter', serif;
  font-size: 1.5em;
  text-align: center;
}

.info {
  font-family: 'Gupter', serif;
  position: fixed;
  bottom: 0;
  height: 25%;
  width: 100%;
  padding: 40px;
  box-shadow: 0px -2px 3px gray;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: right;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.left {
  flex: 1;
}

.middle {
  flex: 1;
}

.right {
  flex: 1;
}

.x {
  font-size: 1.5em;
}

h4 {
  text-decoration: underline dotted;
  font-size: 1em;
}